In [2]:
#LAB STEPS:
#1) Create table of values
#   a. delta d, d, F (calcuated from m)
#2) Graph values F (y-axis, N) by Distance (x-axis, mm)
#3) find slope via line of best fit
#4) figure out equation for work. This will be area under the graph. Use geometry.


import pandas as pd
import numpy as np

#total distance measured in mm
distance_data = np.array([515,535,555,575,625,665,695,775])

#to calculate by subtracting values of distance_data from eachother
#delta_distance = np.zeros([0,1]))

#measure kg (found by F/g = m, but convert this is N later on)
cal_mass = np.array([0,.530,.815,1.08,1.77,2.315, 2.730, 3.835])

og_dataValuesDict = {
    "Total Distance" : distance_data,
    "Calculated Mass" : cal_mass
}
og_dataValues = pd.DataFrame(og_dataValuesDict)

og_dataValues

   Total Distance  Calculated Mass
0             515            0.000
1             535            0.530
2             555            0.815
3             575            1.080
4             625            1.770
5             665            2.315
6             695            2.730
7             775            3.835

In [3]:
#Needed output for a classmate
#og_dataValues.to_csv("Original Coil Values")

In [23]:
#Create delta_distance data:

#delta_distance = np.zeros((len(distance_data),1))

delta_distance = list()

print(delta_distance)

changeInPreviousTrial = 0
for idx, distanceValue in enumerate(distance_data):

    delta_distance.append(abs(distanceValue - distance_data[0]))

print(delta_distance)

if len(delta_distance) != len(distance_data):
    raise Exception("delta_distance length does not match distance_data!!!!")

[]
[0, 20, 40, 60, 110, 150, 180, 260]

In [41]:
force_values = list()

print(force_values)

for idx, massValue in enumerate(cal_mass):
    forceValueCal = round((massValue * 9.8), 4)

    #TODO: need that value to have 0.000 digits
    if forceValueCal == 0:
        pass
        #forceValueCal = float(format(str(forceValueCal), '.3f'))
    #bigger than ten because that's when it begins two digits before . and messes up sig digs.
    if forceValueCal >= 10:

        forceValueCal = round(forceValueCal, 2)
        print("changed value: {0}".format(forceValueCal))
    
    force_values.append(forceValueCal)




print(force_values)
if len(force_values) != len(cal_mass):
    raise Exception("force_values length does not match cal_mass!!!!")

[]
chnged value: 10.58
chnged value: 17.35
chnged value: 22.69
chnged value: 26.75
chnged value: 37.58
[0.0, 5.194, 7.987, 10.58, 17.35, 22.69, 26.75, 37.58]

In [43]:
CompleteDataDict = {
    "Total Distance (mm)" : distance_data,
    "Change in Distance (mm)" : delta_distance,
    "Force (N)" : force_values
}

tableCompleteData = pd.DataFrame(CompleteDataDict)

#Step 1 complete.
tableCompleteData

   Total Distance (mm)  Change in Distance (mm)  Force (N)
0                  515                        0      0.000
1                  535                       20      5.194
2                  555                       40      7.987
3                  575                       60     10.580
4                  625                      110     17.350
5                  665                      150     22.690
6                  695                      180     26.750
7                  775                      260     37.580

In [47]:
#Get CSV of table 1.
#tableCompleteData.to_csv("Force over Distance Experiment Data - AP Physics", index = False)